.todo-list {
    list-style: none;
}

.todo-list__filter {
    display: flex;
    align-items: center;
}

.todo {
    display: flex;
    align-items: center;
}

.todo--completed {
    text-decoration: line-through;
    color: grey;
}